<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add Recipe</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>Let's Add the Recipe!!</h1>
        <p>Tell us the name of the food</p>
        <form class="submitForm" action="/recipe/create" method="post">
            <input name="recipeName" type="text">
            <p>Tell us the url of the recipe</p>
            <input class="URL" name="recipeUrl" type="text">
            <input class="Submitting" type="submit" value="Add" >
        </form>
    </body>
</html>